*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin:0;
    padding:0;
}

:root {
    --cell-size:100px;
    --mark-size:calc(var(--cell-size)*.9);
}

.header {
    height:30vh;
    width:100vw;
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}

.container {
    width:100vw;
    height:70vh;
    background-color: brown;
    display: grid;
    grid-template-columns:repeat(3,auto);
    align-content: center;
    justify-content: center;
    gap:1px;
}

.cell {
    color:white;
    height:var(--cell-size);
    width:var(--cell-size);
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:var(--mark-size);
}

