*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin:0;
    padding:0;
}

:root {
    --cell-size:100px;
    --mark-size:calc(var(--cell-size)*.9);
    --header-color:  cadetblue;
    --container-color: brown;
    --cell-color: black;
    --mark-color:white;
}

.header {
    height:30vh;
    width:100vw;
    background-color:var(--header-color);
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}

.container {
    width:100vw;
    height:70vh;
    background-color: var(--container-color);
    display: grid;
    grid-template-columns:repeat(3,auto);
    align-content: center;
    justify-content: center;
    gap:1px;
}

.cell {
    color:var(--mark-color);
    height:var(--cell-size);
    width:var(--cell-size);
    background-color: var(--cell-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:var(--mark-size);
}

.hidden {
    display:none;
}

.result {
    display:block !important;
    height: 100vh;
    width:100vw;
    background-color: black;
    color:white;
    opacity: .9;
    position:fixed;
    top:0;
    text-align: center;
    padding-top:40vh;
}



