* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    font-size: 2rem;
    display:inline-block;
    height:70px;
    width:70px;
    border: 1px solid black;
    text-align: center;
    padding-top: 10px;
}